<ul class="todos">
  <li
    class="todos__item"
    [class.todos__item--completed]="todo.completed"
    *ngFor="let todo of todos | filterTodos:visibility"
    (click)="toggleTodo(todo)">
    {{ todo.text }}
  </li>
</ul>
<button class="filter" [class.filter--active]="visibility === 'ALL'" (click)="setVisibility('ALL')">Show All</button>
<button class="filter" [class.filter--active]="visibility === 'ACTIVE'" (click)="setVisibility('ACTIVE')">Show Active</button>
<button class="filter" [class.filter--active]="visibility === 'COMPLETED'" (click)="setVisibility('COMPLETED')">Show completed</button>
